

<h1>Team <%= @team.name %></h1>

Team Motto: We love Ruby!

Hero Name: Amanda

Hero Power: Ruby

Hero Biography: I love Ruby!

Hero Name: Arel

Hero Power: JavaScript

Hero Biography: I love JavaScript!

Hero Name: Katie

Hero Power: Sinatra

Hero Biography: I love Sinatra!
